#game-board {
	position: relative;
    height: 85vh;
    max-width: 800px;
    border-radius: 5px;
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#difficulty-level {
    cursor: pointer;
}

.options {
    cursor: pointer;
}


#start {
    height: 25px;
    width: 70px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.easy {
    width: 30%;
    height: 20%;
}

.medium {
    width: 22%;
    height: 18%;
}

.difficult {
    width: 19%;
    height: 15%;
}

.card-parent {
    position: relative;
}

.card-faces {
    height: 100%;
    width: 100%;
}

.front-face {
    visibility: hidden;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
}

.back-face {
    transform: rotateY(180deg);
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
}